.bar {
	width: 100%;
	height: 38px;
	background-color: #f2f2f2;
	font-size: 11px;
	color: #393939;
	font-family: "Lato";

}





.menu {
	width: 100%;
	max-width: 1290px;
	height: 98px;
	padding-top: 49px;
	background-color: white;
	display: flex;
	margin: 0 auto;
}




.container {
	width: 100%;
	max-width: 1290px;
	margin: 0 auto;
}

.container2 {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}





h1, h2, h3, h4, h5, h6 {
	margin: 0;
}




.cent {
	text-align: center;
	margin-left: 50px;
}





/* Intro */

.intro {
	display: flex;
	flex-direction: column;
	justify-content: unsafe center;

	width: 100%;
	height: 100vh;
	background: url("../images/two_girls.jpg") center
	no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}


.intro2 {
	display: flex;
	margin-top: 66px;
	width: 1290px;
	height: 100px;
	background: url("../images/support.jpg") center
	no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.intro3 {
	display: flex;
	margin-top: 66px;
	width: 100%;
	height: 100px;
	background: url("../images/handle.jpg") center
	no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: 'Niconne', cursive;
	font-size: 30px;
}


.intro4 {
	display: flex;
	margin-top: 66px;
	width: 100%;
	height: 400px;
	background: url("../images/man_girl.jpg") center
	no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}


.intro__inner {
	width: 260px;
	height: 260px;
	
	margin-top: -10%;
	margin-left: 40%;
}



.intro__title {
	font-size: 20px;
	color: white;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	text-align: center;
}





.menu h1 {
	font-size: 72px;
	color: #393939;
	font-family: "Lato";
}





.header {
	width: 100%;
	padding-top: 19px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}





.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Lato";
}





.logo {
	font-size: 11px;
	font-weight: 900;
	color: #393939;
}





.nav {
	font-size: 11px;
	text-transform: uppercase;
}




.nav__link {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0 25px;
	color: #393939;
	text-decoration: none;
	transition: color 0.1s linear;
}




.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: red;
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	transition: opacity 0.1s linear;
}




.nav__link: hover {
	color: #fce38a;
}




.nav__link:hover:after {
	opacity: 1;
}




.text__main {
	font-size: 18px;
	color: #393939;
	font-family: 'Niconne', cursive;
}




.shophia {
	font-size: 72px;
	color: #393939;
	font-family: 'Niconne', cursive;
}




.support__block1 {
	width: 330px;
	height: 100px;
	font-family: 'Lato', sans-serif;
	color: white;
}

.support__block2 {
	color: white;
	margin-left: 130px;
	width: 370px;
	height: 100px;
	/*border: 2px solid #515151;*/
	font-family: 'Lato', sans-serif;
}

.support__block3 {
	color: white;
	margin-left: 80px;
	width: 370px;
	height: 100px;
	font-family: 'Lato', sans-serif;
}




.block1 {
	margin-top: 100px;
	margin-left: 320px;
	width: 300px;
	height: 220px;
	font-family: 'Niconne', cursive;
}

.block2 {
	margin-top: 100px;
	margin-left: 260px;
	width: 300px;
	height: 220px;
	font-family: 'Niconne', cursive;
}







.link a {
text-decoration:none; /*Убираем стандартное подчёркивание ссылки если оно ещё не убрано*/
display: inline-block; /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный*/
line-height: 1; /*Задаём высоту строки (можно в пикселях)*/
color:black;/*Задаём цвет ссылки*/
}

.link a:after {
display: block; /*превращаем его в блочный элемент*/
content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
height: 3px; /*задаём высоту линии*/
width: 0%; /*задаём начальную ширину элемента (линии)*/
background-color: #225384; /*цвет фона элемента*/
transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}

.link a:hover:after,
.link a:focus:after {
width: 100%;
}

.link a:hover{
color:#225384;
}


